- include_stylesheet 'admin/assets' 
- include_javascript 'swfupload/swfupload'
- include_javascript 'swfupload/swfupload.cookies'
- include_javascript 'swfupload/swfupload.queue'
- include_javascript 'swfupload/swfupload.speed'
- include_javascript 'admin/asset_uploader'
- content_for(:page_scripts) do
  :plain
    window._authenticity_token = '#{form_authenticity_token}';

%h1
  Asset uploader
%p 
  This is a dedicated uploader for asset files. It's more informative than the standard http upload, a bit more reliable with large files and allows you to upload many files at once.
%p
  Each file you select will begin to upload automatically. (In the next version:) When the upload is complete, you'll see a compact description form for that file which allows you to override the default title, caption and copyright.

#swf_placeholder

#asset_uploader
  #upload_queue
  #upload_controls
    %h2.instructions
      %button#file_chooser{:disabled => true}
        to begin, choose one or more files
